@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,300&display=swap');  
*{
   
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    scroll-behavior: smooth;
    
    
}
.header{
    text-align: center;
    border-radius: 21px;
background: linear-gradient(145deg, #3c242b, #482b33);
box-shadow:  10px 10px 48px #1b1013,
             -10px -10px 48px #6b404d;
}
#quiz{
    border-radius: 21px;
background: linear-gradient(145deg, #7e515f, #966070);
box-shadow:  10px 10px 48px #38242a,
             -10px -10px 48px #e090a8;
}
    
    
   
   
    
}

