@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,300&display=swap');  
*{
   
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    scroll-behavior: smooth;
    
    
}